


.logo {
    font-family: 'Lobster', cursive; 
    font-size: 3em;  
    color: wheat;  
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3); 
    letter-spacing: 2px; 
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    background-color: #333;
    color: white;
  }
  
  .menu button {
    background: none;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 1.2em;
  }
  
  .menu button:hover {
    background-color:#6a9f45;
  }
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: white;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #e86a00;
    padding: 10px 20px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
    color: #000;
  }
  
  .menu button {
    background-color: #6a9f45;
    border: none;
    color: #fff;
    padding: 10px 20px;
    margin: 0 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .menu button:hover {
    background-color: #558235;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }
  
  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6a9f45;
    padding: 20px;
  }
  
  
  
  .form-section {
    flex: 1;
    background-color: wheat;
    padding: 30px;
    border-radius: 10px;
    margin-left: 20px;
  }
  
  .form-section h1 {
    text-align: center;
    font-size: 32px;
    color: #000;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  input, textarea {
    font-size: 16px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  textarea {
    resize: none;
  }
  
  button[type="submit"] {
    background-color: #e86a00;
    color: #fff;
    padding: 10px;
    border: none;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #c55d00;
  }
  .footer {
  background-color:  #659287;
  color: #659287;
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-content p {
  font-size: 16px;
  margin: 0;
  padding-bottom: 10px;
}

.social-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}

.social-icons a {
  text-decoration: none;
  display: inline-block;
}

.social-icons img {
  width: 24px;
  height: 24px;
 
}

.social-icons img:hover {
  filter: brightness(0.8) invert(0.9);
}
